#modo1 {
    background-color: #161A68;
    text-align: center;
    color: #FFFFF3;
    padding: 5%;
    margin: auto;
    border-radius: 3%;
}
#modo2 {
    background-color: #C4C6E7;
    text-align: center;
    color: #FFFFF3;
    padding: 5%;
    margin: auto;
    border-radius: 3%;
}
#modo3 {
    background-color: #FFFFF3;
    text-align: center;
    color: #161A68;
    padding: 5%;
    margin: auto;
    border-radius: 3%;
}
body{
    background-color: #FFFFF3;
}
#titulo{
    color:#161A68;
    padding: 5%;
    margin: auto;
}